In [11]:
def isPal(s):
    l = len(s)
    for i in range(0,int(l/2)):
        if s[i] != s[l-1]:
            return False
        l-=1
    return True

def isPal2(s):
    return s == s[::-1]

print('Enter a sentance:')
s = input()

isPal(s)

Enter a sentance:

False

In [32]:
a = [1,1,2,3,5,8,13,21,34,55,89]
a

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [16]:
def getLessThen(l,x):
    r =[]
    for i in range (0,len(l)):
        if x > l[i]:
            r.append(l[i])
    return r

print('Enter a Value:')
x = int(input())

b = getLessThen(a,x)
b

Enter a Value:

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
len(a)

11

In [18]:
len(b)

9

In [19]:
a[:5]

[1, 1, 2, 3, 5]

In [33]:
a.sort()
a

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [34]:
a.sort(reverse=True)
a

[89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]

In [46]:
fruits = ['banana','apple','strawbarry','kiwi']
fruits.sort(key=len)
fruits

['kiwi', 'apple', 'banana', 'strawbarry']

In [37]:
new_fruits = sorted(fruits, key=len)
new_fruits

['kiwi', 'apple', 'banana', 'strawbarry']

In [47]:
for i in range (len(fruits)):
    l = len(fruits[i])
    fruits[i] = fruits[i][1:l-1]
fruits

['iw', 'ppl', 'anan', 'trawbarr']

In [52]:
keys = ['Ten','Twenty','Thirty']
values = [10,20,30]

di = {keys[i]: values[i] for i in range(len(keys))}
di

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [71]:
d = {
    'class':{
        'st1':{'name':'abc','marks':{'nlp':15,'ml':17}},
        'st2':{'name':'fge','marks':{'nlp':14,'ml':16}}   
    }
}

In [73]:
for std , stdData in d['class'].items():
    if stdData['name'] == 'fge':
        nlp = stdData['marks']['nlp']
        print(nlp)

print(d["class"]["st2"]["marks"]["nlp"])

14
14

In [74]:
d["class"]["st1"]['semaster'] = 2
d["class"]["st2"]['semaster'] = 2

In [75]:
d

{'class': {'st1': {'name': 'abc',
   'marks': {'nlp': 15, 'ml': 17},
   'semaster': 2},
  'st2': {'name': 'fge', 'marks': {'nlp': 14, 'ml': 16}, 'semaster': 2}}}

In [76]:
d1 = d['class']['st1']
d1

{'name': 'abc', 'marks': {'nlp': 15, 'ml': 17}, 'semaster': 2}

In [77]:
dk = set(d1.keys())
dk

{'marks', 'name', 'semaster'}

In [78]:
dl =list(d1.values())
dl

['abc', {'nlp': 15, 'ml': 17}, 2]